<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

<% end %>

<%= render "links" %>